* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    scroll-behavior: smooth;

    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --black: #212529;
    --gray: #495057;
    --white: #f8f9fa;
}

body {
    background-color: var(--white);
}

section {
    padding: 10rem 15%;

    width: 100vw;
    height: 100vh;
}

section:nth-of-type(2) {
    background-color: var(--black);
    height: auto;
}

section:nth-of-type(3) {
    height: auto;
}

/* ========== Navbar ========== */
nav {
    position: fixed;
    left: 50%;
    top: 1rem;
    transform: translateX(-50%);
    z-index: 1000;

    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 3rem;

    padding: 0.5rem 2rem;

    animation: navbar-load 0.5s ease-in;
}

@keyframes navbar-load {
    0% {
        transform: translateX(-50%) translateY(-100%);
    }
    100% {
        transform: translateX(-50%) translateY(0);
    }
}

.navbar-container {
    display: flex;
    align-items: center;
    gap: 4rem;
}

.navbar-links {
    display: flex;
    gap: 2rem;
}

.navbar-link-item a {
    color: var(--white);
    font-weight: 300;
}

.navbar-link-item {
    transition: transform 0.3s;
}

.navbar-link-item:hover {
    transform: translateY(-10%);
}

.navbar-link-item::after {
    content: "";

    position: absolute;
    left: 0;
    top: 25px;
    transform: scaleX(0);

    width: 100%;
    height: 3px;

    background-color: var(--white);
    border-radius: 3rem;

    transition: transform 0.3s;
}

.navbar-link-item:hover::after {
    transform: scaleX(1);
}

.navbar-contact-button,
.form-button {
    padding: 0.5rem 1.5rem;

    background-color: var(--gray);
    border: none;
    border-radius: 3rem;
    color: var(--white);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    text-wrap: nowrap;

    transition: transform 0.3s;
}

.navbar-contact-button:hover,
.form-button:hover {
    transform: scale(1.05);
}

.navbar-icons {
    display: none;
    gap: 1rem;
}

.navbar-icons i,
.contact-icons i {
    color: var(--white);
    cursor: pointer;
    font-size: 2rem;

    transition: transform 0.3s;
}

.navbar-icons i:hover,
.contact-icons i:hover {
    transform: scale(1.05);
}

#navbar-menu-icon {
    color: var(--white);
    font-size: 2rem;

    display: none;
}

/* ---------- Contact ----------  */
.contact {
    opacity: 0;
    position: fixed;
    left: 50%;
    top: -100%;
    transform: translateX(-50%);
    z-index: 1000;

    display: none;

    background-color: var(--black);
    border: 1px solid var(--gray);
    border-radius: 3rem;

    padding: 4rem;

    transition: all 0.3s;
}

.contact.active {
    display: block;

    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%);

    transition: all 0.3s;
}

.form-input {
    background-color: var(--black);
    border: none;
    border-bottom: 1px solid var(--gray);
    color: var(--white);
    font-size: 1rem;
    font-weight: 300;

    margin: 1rem 0;
    padding: 5px 0;

    width: 100%;

    transition: border-bottom 0.3s;
}

.form-input:focus {
    border-bottom: 1px solid var(--white);
    outline: none;
}

.form-input::placeholder {
    color: var(--gray);
}

.message-input {
    min-height: 75px;
    max-height: 300px;

    resize: vertical;
    vertical-align: top;
}

.form-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-button {
    margin: 1rem 0;
}

.contact-icons {
    display: flex;
    gap: 1rem;
}

/* ---------- Socials ---------- */
.social-icons {
    display: flex;
    gap: 1rem;

    position: fixed;
    bottom: 2%;
    right: 2%;

    animation: social-icons-load 0.5s ease-in;
}

@keyframes social-icons-load {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.social-icons i {
    color: var(--black);
    cursor: pointer;
    font-size: 2.5rem;

    transition: transform 0.3s;
}

.social-icons i:hover {
    transform: scale(1.05);
}

/* ========== About ========== */
.about {
    display: flex;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 10rem;
}

.about-info {
    animation: about-info-load 0.5s ease-in;
}

@keyframes about-info-load {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

.text-greeting {
    color: var(--black);
    font-size: 3rem;
    font-weight: 300;

    margin-bottom: 0.5rem;
}

.text-name {
    color: var(--black);
    font-size: 4rem;
    font-weight: 500;
    line-height: 1;
}

.text-divider {
    width: 25%;
    height: 3px;

    margin: 2rem 0;

    background-color: var(--gray);
    border-radius: 3rem;
}

.text-description {
    color: var(--black);
    font-size: 1rem;
    font-weight: 300;
}

.description-emphasis {
    font-style: italic;
    font-weight: 500;
}

.description-university {
    font-weight: 500;
}

.about-image {
    animation: about-image-load 0.5s ease-in;
}

@keyframes about-image-load {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.image-filler {
    width: 500px;
    height: 500px;

    background-color: var(--gray);
    border-radius: 50%;
}

.about-scroll {
    position: absolute;
    bottom: 2%;
    left: 50%;
}

#about-scroll-icon {
    color: var(--black);
    font-size: 2rem;

    animation: about-scroll-icon-bounce 2s infinite ease;
}

@keyframes about-scroll-icon-bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1rem);
    }
}

/* ========== Skills ========== */
.skills-title {
    color: var(--white);
    font-size: 4rem;
    font-weight: 500;
    text-align: center;

    margin-bottom: 3rem;
}

.skills-container {
    display: flex;
    justify-content: center;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;

    animation: skills-grid-appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 35%;
}

@keyframes skills-grid-appear {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.skill-item {
    border: 1px solid var(--white);
    border-radius: 3rem;

    padding: 3rem;

    display: flex;

    transition: all 0.3s;
}

.skill-item:hover {
    background-color: var(--gray);
    transform: scale(1.05);
}

.skill-item img {
    width: 6rem;
    height: 6rem;
}

/* ========== Projects ========== */
.projects-title {
    color: var(--black);
    font-size: 4rem;
    font-weight: 500;
    text-align: center;

    margin-bottom: 3rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;

    animation: projects-grid-appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
}

@keyframes projects-grid-appear {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.project-item {
    padding: 3rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    border: 1px solid var(--black);
    border-radius: 3rem;
    line-height: 1;

    transition: transform 0.3s;
}

.project-item:hover {
    transform: translateY(-10px) scale(1.01);
}

.item-image {
    width: 100%;
    height: 20rem;

    background-color: var(--gray);
    border-radius: 1rem;
}

.item-name {
    color: var(--black);
    font-size: 2rem;
    font-weight: 500;
}

.item-description {
    color: var(--black);
    font-weight: 300;
}

.item-icons {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
}

.item-icons i {
    color: var(--black);
    font-size: 2rem;

    transition: transform 0.3s;
}

.item-icons i:hover {
    transform: scale(1.05);
}

/* ========== Footer ========== */
footer {
    height: 5rem;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background-color: var(--black);
}

.footer-copyright {
    color: var(--white);
    font-weight: 300;

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.footer-copyright a {
    color: var(--white);
    font-size: 1.5rem;

    transition: transform 0.3s;
}

.footer-copyright a:hover {
    transform: scale(1.05);
}

/* ========== Responsiveness ========== */
@media (max-width: 800px) {
    * {
        animation: none !important;
    }

    section {
        width: 100vw;
        height: auto;
    }

    section:nth-of-type(3) {
        padding: 10rem 10%;
    }

    .social-icons {
        flex-direction: column;

        bottom: 0;
        top: 50%;
    }

    .about {
        display: block;
    }

    .about-container {
        flex-direction: column;
        gap: 5rem;
    }

    .image-filler {
        width: 400px;
        height: 400px;
    }

    #about-scroll-icon {
        display: none;
    }

    .skills-grid,
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .projects-grid {
        column-gap: 2rem;
        row-gap: 4rem;
    }
}

@media (max-width: 600px) {
    section:nth-of-type(3) {
        padding: 10rem 20%;
    }

    .contact {
        padding: 3rem;
    }

    .contact-icons {
        gap: 0.5rem;
    }

    .text-greeting {
        font-size: 2rem;
    }

    .text-name,
    .skills-title,
    .projects-title {
        font-size: 3rem;
    }

    .text-divider {
        margin: 1rem 0;
    }

    .skills-grid {
        gap: 3rem;
    }

    .projects-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 6rem;
    }
}

@media (max-width: 400px) {
    nav,
    .navbar-container {
        left: 90%;
        transform: translateX(-90%);
    }

    section:nth-of-type(3) {
        padding: 10rem 15%;
    }

    .navbar-container {
        position: absolute;
        top: 100%;

        width: 100%;

        display: none;
        flex-direction: column;
        gap: 2rem;

        margin-top: 1rem;
        padding: 3rem 6rem;

        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 3rem;
    }

    .navbar-container.active {
        display: flex;
    }

    .navbar-links {
        flex-direction: column;
        text-align: center;
    }

    .navbar-icons {
        display: flex;
    }

    #navbar-menu-icon {
        display: block;

        color: var(--white);
        font-size: 2rem;
    }

    .contact.active {
        top: 80%;
        transform: translate(-50%, -80%);
    }

    .form-actions {
        gap: 1rem;
    }

    .social-icons {
        display: none;
    }

    .text-greeting {
        font-size: 1.5rem;
    }

    .text-name {
        font-size: 2rem;
    }

    .image-filler {
        width: 300px;
        height: 300px;
    }

    .skills-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .skill-item,
    .project-item {
        padding: 2rem;
    }

    .item-icons {
        gap: 1rem;
    }
}
